::-webkit-scrollbar { /* chrome based */
    width: 0;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 500px;
        height: 400px;
    }
}

.BurgerPreview {
    margin: auto;
    width: 75%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

@media (max-width: 500px) and (min-height: 700px) {
    .BurgerPreview {
        height: 40%;
    }
}

@media (max-width: 1000px) and (min-height: 700px) {
    .BurgerPreview {
        height: 60%;
    }
}

.burger_text {
    text-shadow: 0 1px 1px #985425;
    font-size: 1.7em;
}